packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-2.8.4.tar.gz
commands:
  redis_build:
    command: make
    cwd: /home/ec2-user/redis-2.8.4
  redis_config_001:
    command: sed -i -e "s/daemonize no/daemonize yes/" redis.conf
    cwd: /home/ec2-user/redis-2.8.4
  redis_config_002:
    command: sed -i -e "s/# maxmemory <bytes>/maxmemory 500MB/" redis.conf
    cwd: /home/ec2-user/redis-2.8.4
  redis_config_003:
    command: sed -i -e "s/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/" redis.conf
    cwd: /home/ec2-user/redis-2.8.4
  redis_server:
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-2.8.4
  get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  npm_install_bower:
    command: sudo npm install -g bower
  npm_install_gruntcli_prep:
    command: sudo rm -rf /usr/local/bin/grunt
  npm_install_gruntcli:
    command: sudo npm install -g grunt-cli
container_commands:
  grunt_build:
    command: sudo grunt build
  bower_install:
    command: sudo bower install --allow-root
