packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  a_npmlog_access:
    command: sudo chmod 777 /tmp/deployment
    ignoreErrors: true
  a_npmlog_access001:
    command: sudo chmod 777 /tmp/deployment/application
    ignoreErrors: true
  b_npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  c_npm_install_gruntcli_prep_inherit:
    command: sudo npm install -g inherits@~2
  d_npm_install_gruntcli_prep_glob:
    command: sudo npm install -g glob@^6.0.4
  e_npm_install_bower:
    command: sudo npm install -g bower
  f_npm_install_gruntcli:
    command: sudo npm install -g grunt
  g_npm_install_gruntcli_prep_chmod:
    command: sudo chmod 777 /usr/bin/grunt
    ignoreErrors: true
  h_npm_install_gruntcli_prep_rmgrunt:
    command: sudo rm /usr/bin/grunt
    ignoreErrors: true
  i_npm_install_gruntcli:
    command: sudo npm install -g grunt-cli
container_commands:
  a_access_npmlog:
    command: sudo chmod 777 /tmp/deployment/application/npm-debug.log
    ignoreErrors: true
  b_npm_install_grunt:
    command: sudo npm install
  c_npm_install_grunt_glob:
    command: sudo npm install glob@~5
  d_npm_install_gruntcli:
    command: sudo npm install grunt-cli
  e_npm_install_gruntcli001:
    command: sudo npm install glob@^6.0.4 --save
    cwd: /tmp/deployment/application/node_modules/grunt
  f_npm_install_gruntcli002:
    command: sudo npm install glob@^6.0.4 --save
    cwd: /tmp/deployment/application/node_modules/grunt-cli
  g_npm_install_load_dev:
    command: sudo npm install --force load-grunt-tasks
    ignoreErrors: true
  h_bower_install:
    command: sudo node bower install --allow-root
