packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  a_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  b_path:
    command: >
      if [[! "$PATH" == *node*]]; then 
        PATH=$PATH:/opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64/bin
      fi
  b_npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  c_npm_install_bower:
    command: sudo npm install -g bower
  d_npm_install_gruntcli_prep_chmod:
    command: sudo chmod 777 /usr/bin/grunt
    ignoreErrors: true
  e_npm_install_gruntcli_prep_rmgrunt:
    command: sudo rm /usr/bin/grunt
    ignoreErrors: true
  f_npm_install_gruntcli_prep_inherit:
    command: sudo npm install -g inherits@~2
  g_npm_install_gruntcli_prep_glob:
    command: sudo npm install -g glob@~5
  h_npm_install_gruntcli:
    command: sudo npm install -g grunt-cli
container_commands:
  a_npm_install_grunt:
    command: sudo npm install grunt
  b_npm_install_grunt_glob:
    command: sudo npm install glob@~5
  c_npm_install_gruntcli:
    command: sudo npm install grunt-cli
  c_npm_install_gruntcli001:
    command: sudo npm install glob@^6.0.4 --save
    cwd: /tmp/deployment/application/node_modules/grunt
  c_npm_install_gruntcli002:
    command: sudo npm install glob@^6.0.4 --save
    cwd: /tmp/deployment/application/node_modules/grunt-cli
  d_npm_install_load_dev:
    command: sudo npm install --force load-grunt-tasks
    ignoreErrors: true
  e_npm_install_load_all:
    command: sudo npm install --production
    ignoreErrors: true
  g_bower_install:
    command: sudo node ./node_modules/bower/bin/bower install --allow-root
